// == PARAGRAPH ==
@mixin text-xxlarge {
    font-size: 1.9888rem;
    line-height: 2.1875rem;
}
@mixin text-large {
    font-size: 1.25rem;
    line-height: 1.375rem;
}

@mixin text-medium {
    font-size: 1.125rem;
    line-height: 1.625rem;
}

@mixin text-small {
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin text-xsmall {
    font-size: .875rem;
    line-height: 1.25rem;
}

// == HEADINGS ==
@mixin h1 {
    font-size: 5rem;
    line-height: 5.5rem;
}

@mixin h2 {
    font-size: 3rem;
    line-height: 3.3rem;
}

@mixin h4 {
    @include text-xsmall;
}

// == BUTTON ==
@mixin main-btn {
    font-family: 'Inter', sans-serif;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    border: .0625rem;
    background-color: $primary-color;
    
    p {
        @include text-small;
        font-weight: 600;
        color: $second-color-dark;
    }

}