// == PARAGRAPH ==
@mixin text-huge {
    font-size: 4.125rem;
    line-height: 4.5375rem;
}

@mixin text-xxlarge {
    font-size: 2rem;
    line-height: 2.2rem;
}

@mixin text-medium-large{
    font-size: 1.5rem;
    line-height: 1.65rem;
}

@mixin text-large {
    font-size: 1.25rem;
    line-height: 1.375rem;
}

@mixin text-medium {
    font-size: 1.125rem;
    line-height: 1.625rem;
}

@mixin text-small {
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin text-xsmall {
    font-size: .875rem;
    line-height: 1.25rem;
}

// == HEADINGS ==
@mixin h1 {
    font-size: 5rem;
    line-height: 5.5rem;
}

@mixin h2 {
    font-size: 4rem;
    line-height: 4.4rem;
}

@mixin h3 {
    font-size: 3rem;
    line-height: 3.3rem;
}

@mixin h4 {
    @include text-xsmall;
}

// == BUTTON ==
@mixin main-btn {
    font-family: 'Inter', sans-serif;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    border: .0625rem;
    background-color: $primary-color;
    cursor: pointer;
    
    p {
        @include text-small;
        font-weight: 600;
        color: $second-color-dark;
    }
}

// == CHAPTER ==
@mixin chapter {
    display: flex;

    p {
        @include text-xsmall;
        font-weight: 400;
        color: $primary-color;
        opacity: 50%;
        text-transform: uppercase;
    }
}

// == STYLE == 
@mixin italic-h2 {
    font-style: italic;
    font-family: 'Taviraj', sans-serif;
    font-weight: 300;
    color: $primary-color;
}