// == COLOR ==
$primary-color-opacity: rgba(255, 255, 255, 0.2);
$primary-color: rgba(255, 255, 255, 1);
$second-color-black: rgba(10, 8, 6, 1);
$second-color: rgba(19, 19, 19, 1);
$second-color-dark: rgba(20, 20, 20, 1);
$tertiary-color: rgba(249, 115, 22, 1);

$special-section-bg: rgba(115, 36, 2, 1);
$light-gray-brown: rgba(212, 204, 201, 1);