// == FONTS (font Inter for normal text and font Taviraj for italic) ==
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// == BOOTSTRAP FOR ICONS ==
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

// == IMPORTS ==
@import "partials/mixins";
@import "partials/variables";

@import "components/header";
@import "components/footer";
@import "components/slider";
@import "pages/our-story";


*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}
.m-w-unset {
    max-width: unset !important;
}
.m-8 {
    margin: 0 .5rem 0 .5rem;
}
.m-16 {
    margin: 0 1rem;
}

.h-524 {
    height: 524px;
}

// == Introductory Section About Our Story ==
.story-section {
    padding: 6rem 0;
    background-color: $second-color;

    .story-container {
        display: flex;
        align-items: center;
        max-width: 90rem;
        margin: 0 auto;

        .story-info {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 0 3.5rem 0 0;
            width: 50%;

            .story-chapter {
                @include chapter;
            }
            
            .story-content {
                max-width: 32rem;
                h2 {
                    @include h2;
                    font-weight: 300;
                    color: $primary-color;
                    margin-bottom: 1rem;
                    text-transform: uppercase;

                    .style-italic {
                        @include italic-h2;
                    }
                }

                p {
                    @include text-medium;
                    font-weight: 400;
                    color: $primary-color;
                    opacity: 70%;
                }
            }

            .story-section-btn button {
                @include main-btn;
            }
        }

        .story-section-img {
            width: 50%;

            img {
                width: 100%;
            }
        }
    }
}

// == Section popup ==
.main-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 6rem 0;
    background-color: $special-section-bg;

    .menu-info {
        display: flex;
        flex-direction: column;
        max-width: 90rem;
        margin: 0 auto;
        width: 100%;

        .menu-chapter {
            @include chapter;
        }

        .menu-heading {
            h2 {
                @include h2;
                font-weight: 300;
                color: $primary-color;
                text-transform: uppercase;
                margin-top: 2rem;
                max-width: 34.375rem;


                .style-italic {
                    @include italic-h2;
                }
            }
        }
    }

    // === POPUP ==
    .drink-popup {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        gap: 5rem;
    
        .drink-list {
            display: flex;
            flex-wrap: wrap;
            max-width: 90rem;
            margin: 0 auto;
    
            .drink-item {
                display: flex;
                flex-direction: column;
                flex-basis: calc(33.33%);
                align-items: center;
                gap: 1.5rem;
                padding: 24px 24px 48px 24px;
                border-right: 1px solid $border-color-dark-brown;
                border-bottom: 1px solid $border-color-dark-brown;
                cursor: pointer;

                .drink-img {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background-color: $primary-color;
                    
                    img {
                        width: 100%;
                        transition: transform 0.3s ease-in; 
                    }
                }
    
                .drink-info {
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    width: 100%;
    
                    .drink-title {
                        color: $primary-color;
                        @include text-large;
                        font-weight: 300;
                        text-transform: uppercase;
                        transition: text-decoration 0.3s ease; 
                    }
    
                    .drink-price {
                        @include text-xsmall;
                        font-weight: 400;
                        color: $light-gray-brown;
                    }
                }
    
                &:hover {
                    .drink-img img {
                        transform: scale(1.1); 
                    }
            
                    .drink-title {
                        text-decoration: underline;
                    }
                }

                &:nth-child(3n){
                    border-right: none;
                    padding-right: 0 !important;
                }

                &:nth-child(3n+1) {
                    padding-left: 0 !important;
                }
            }
        }
    }

    .popup {
        width: 500px;
        border-radius: 10px;
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        color: #333;
        visibility: hidden;
        overflow: hidden;
        transition: transform 0.4s, bottom 0.4s, visibility 0.4s;
        z-index: 200;
    
        .popup-images {
            position: relative;
            width: 100%;
        
            .popup-close-icon {
                position: absolute;
                top: 16px;
                right: 16px;
                cursor: pointer;
            }
        }
    
        .popup-drink {
            width: 100%;
            height: 100%;
            background-color: #fff;
        
            img {
                width: 100%;
            }
        }
    
        .popup-content {
            background-color: #333;
            width: 100%;
            padding: 1rem;
        
            .popup-header {
                display: flex;
                flex-direction: column;
                gap: .5rem;
                text-align: left;
        
                .drink-title {
                    @include text-medium-large;
                    color: $primary-color;
                    text-transform: uppercase;
                    font-weight: 300;
                }
        
                .drink-price {
                    @include text-small;
                    color: $light-gray-brown;
                    font-weight: 400;
                }
            }
        
            .popup-body {
                text-align: left;
        
                p {
                    @include text-small;
                    font-weight: 400;
                    color: $primary-color;
                    opacity: 70%;
                    margin-top: 1rem;
                }
        
                .popup-alergens {
                    font-weight: 600;
                    color: $light-gray-brown;
                    margin-top: 1.5rem;
                    margin-bottom: 9.4375rem;
                }
        
                button {
                    background-color: $btn-dark-brown;
                    color: $primary-color;
                    border-radius: .5rem;
                    cursor: pointer;
                    font-weight: 600;
                    @include text-small;
                    border: none;
                    padding: .75rem 1.5rem;
                    width: 100%;
                }
            }
        }
    }
    
    .open-popup {
        visibility: visible;
        bottom: 50%;
        transform: translate(-50%, 50%);
        transition: transform 0.4s, bottom 0.4s, visibility 0.4s;
    }
    
    .close-popup {
        visibility: hidden;
        bottom: -100%;
        transform: translate(-50%, 0);
        transition: transform 0.8s, bottom 0.8s, visibility 0.8s;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        visibility: hidden;
        transition: visibility 0.4s;
        z-index: 100; 

        &.open-overlay {
            visibility: visible;
        }
    }
}

.no-scroll {
    overflow: hidden;
}


// == Photo Gallery Section ==
.section-photo-gallery {
    display: flex;
    flex-direction: column;
    background-color: $second-color;
    padding: 6rem 0;

    .section-follow {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        max-width: 90rem;
        margin: 0 auto;
    }

    h2 {
        @include h2;
        text-align: center;
        font-weight: 300;
        color: $primary-color;
        text-transform: uppercase;
        margin-bottom: 2.5rem;

        .style-italic {
            @include italic-h2;
        }
    }
}


// == BREAKPOINTS ==

@media screen and (max-width: 767px) {
    h1,
    .style-italic {
        font-size: 3rem !important;
        line-height: 3.3rem !important;
    }

    h2,
    .style-italic {
        font-size: 3rem !important;
        line-height: 3.3rem !important;
    }

    h3,
    .style-italic {
        font-size: 2rem !important;
        line-height: 2.2rem !important;
    }

    // == Introductory Section About Our Story ==
    .story-section {
        padding: 6rem 1rem;
    }

    // == Section popup ==
    .drink-list {
        flex-wrap: unset !important;
        flex-direction: column;

        .drink-item {
            border: none !important;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    // == Introductory Section About Our Story ==
    .story-section {
        padding: 6rem 2rem;
    }

    // == Section popup ==
    .drink-item {
        flex-basis: calc(50% - 20px) !important;
        border: none !important
    }
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
    // == Introductory Section About Our Story ==
    .story-section {
        padding: 6rem 3rem;
    }
}

@media screen and (max-width: 1023px) {
    // == Introductory Section About Our Story ==
    .story-container {
        display: flex;
        flex-direction: column;

        .story-info {
            width: 100% !important;
            margin-bottom: 4rem;

            .story-content {
                max-width: unset !important;
            }
        }

        .story-section-img {
            width: 100% !important;
        }
    }
}