@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.section-header {
  display: flex;
  position: relative;
  padding: 6rem 0;
  height: 857px;
}
.section-header .header-bg .darken-img-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(19, 19, 19);
  opacity: 90%;
  z-index: 1;
}
.section-header .header-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-header .header-bg-page2 .darken-img-header-page2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(19, 19, 19);
  opacity: 90%;
  z-index: 1;
}
.section-header .header-bg-page2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  max-width: 90rem;
  margin: 0 auto;
  z-index: 2;
}
.section-header .header-content .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  z-index: 10;
}
.section-header .header-content .header-menu .header-nav ul {
  display: flex;
  gap: 2rem;
}
.section-header .header-content .header-menu .header-nav ul li {
  list-style-type: none;
}
.section-header .header-content .header-menu .header-nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
}
.section-header .header-content .header-menu .header-nav ul li a:focus, .section-header .header-content .header-menu .header-nav ul li a:active, .section-header .header-content .header-menu .header-nav ul li a:hover {
  text-decoration: underline;
}
.section-header .header-content .header-menu .header-logo a {
  font-family: "Taviraj", sans-serif;
  font-size: 1.25rem;
  line-height: 1.375rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.section-header .header-content .header-menu .header-social-icons {
  display: flex;
  gap: 0.75rem;
}
.section-header .header-content .header-menu .hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 100;
}
.section-header .header-content .header-menu .hamburger .bar, .section-header .header-content .header-menu .hamburger:after, .section-header .header-content .header-menu .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0px;
  transition: 0.4s;
  left: 0;
}
.section-header .header-content .header-menu .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.section-header .header-content .header-menu .hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.section-header .header-content .header-menu .hamburger.is-active .bar {
  opacity: 0;
}
.section-header .header-content .header-menu .mobile-nav {
  position: fixed;
  top: 0;
  right: -50%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 98;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding-top: 120px;
  transition: 0.4s;
  padding: 100px 20px 0 20px;
  white-space: nowrap;
}
.section-header .header-content .header-menu .mobile-nav.is-active {
  right: 0;
}
.section-header .header-content .header-menu .mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  font-family: "Inter", sans-serif;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.0625rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  margin: 0 auto 16px;
  text-decoration: none;
  text-transform: uppercase;
}
.section-header .header-content .header-menu .mobile-nav a p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: rgb(20, 20, 20);
}
.section-header .header-content .header-menu .mobile-nav a:hover {
  background-color: rgba(240, 240, 242, 0.7921568627);
}
.section-header .header-content .section-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-header .header-content .section-hero .hero-content h1 {
  font-size: 5rem;
  line-height: 5.5rem;
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-align: center;
  max-width: 62.125rem;
  text-transform: uppercase;
}
.section-header .header-content .section-hero .hero-content h1 .italic-text {
  font-style: italic;
  font-family: "Taviraj", sans-serif;
}
.section-header .header-content .section-hero .header-main-btn button {
  font-family: "Inter", sans-serif;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.0625rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 4rem;
}
.section-header .header-content .section-hero .header-main-btn button p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: rgb(20, 20, 20);
}

@media screen and (max-width: 767px) {
  .header-menu {
    padding: 2rem 1rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-menu {
    padding: 2rem 2rem !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .header-menu {
    padding: 2rem 3rem !important;
  }
}
@media screen and (max-width: 1023px) {
  .header-nav {
    display: none;
  }
  .header-social-icons {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .hamburger {
    display: none !important;
  }
}
.section-footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 8, 6);
  position: relative;
  overflow: hidden;
}
.section-footer .bg-footer {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 687px;
  height: 687px;
  border-radius: 999px;
}
.section-footer .bg-footer img,
.section-footer .bg-footer .darken-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-footer .bg-footer .darken-img {
  background-color: rgb(19, 19, 19);
  opacity: 80%;
  z-index: 1;
}
.section-footer .footer-first-content {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
}
.section-footer .footer-first-content .footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}
.section-footer .footer-first-content .footer-info .footer-info-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-footer .footer-first-content .footer-info .footer-info-details .footer-visit {
  color: rgb(104, 104, 104);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}
.section-footer .footer-first-content .footer-info .footer-info-details h2 {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  margin: 1.75rem 0 0.75rem 0;
  max-width: 600px;
}
.section-footer .footer-first-content .footer-info .footer-info-details h2 .style-italic {
  font-style: italic;
  font-family: "Taviraj", sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-size: 4.125rem;
  line-height: 4.5375rem;
}
.section-footer .footer-first-content .footer-info .footer-info-details .footer-opening-hours {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.625rem;
  opacity: 60%;
  margin-bottom: 1.9375rem;
}
.section-footer .footer-first-content .footer-btn button {
  font-family: "Inter", sans-serif;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.0625rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin-bottom: 17.6875rem;
}
.section-footer .footer-first-content .footer-btn button p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: rgb(20, 20, 20);
}
.section-footer .footer-border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 90rem;
  margin: 0 auto;
}
.section-footer .footer-border-top .footer-second-content {
  display: flex;
  justify-content: space-between;
  max-width: 90rem;
  margin: 2.25rem auto;
}
.section-footer .footer-border-top .footer-second-content .terms-and-privacy ul {
  display: flex;
  gap: 2rem;
}
.section-footer .footer-border-top .footer-second-content .terms-and-privacy ul li {
  list-style-type: none;
}
.section-footer .footer-border-top .footer-second-content .terms-and-privacy ul li a {
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  opacity: 40%;
}
.section-footer .footer-border-top .footer-second-content .site-authors {
  display: flex;
  align-items: center;
}
.section-footer .footer-border-top .footer-second-content .site-authors .credits-normal-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(255, 255, 255);
  opacity: 40%;
  font-weight: 400;
}
.section-footer .footer-border-top .footer-second-content .site-authors a {
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 70%;
  margin-left: 0.25rem;
}

@media screen and (max-width: 767px) {
  .bg-footer {
    display: none;
  }
  .footer-first-content {
    padding: 6rem 1rem;
  }
  .footer-second-content {
    padding: 0 1rem;
  }
  .footer-second-content .terms-and-privacy ul {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer-second-content {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .footer-second-content {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 1023px) {
  .footer-second-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-second-content .site-authors {
    margin-top: 1.25rem;
    text-align: center;
  }
}
.section-slider {
  background-color: rgb(19, 19, 19);
  padding: 4.6875rem 0 5.125rem 0;
  max-width: 140rem;
  margin: 0 auto;
  width: 100%;
}
.section-slider .splide__track .splide1-content {
  display: flex;
  align-items: center;
  cursor: grab;
}
.section-slider .splide__track .splide1-content h3 {
  font-size: 3rem;
  line-height: 3.3rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 1.5rem;
  text-transform: uppercase;
}

.slider1 .splide-track1,
.slider1 .splide-list1 {
  direction: rtl;
}

.slider1 .splide1 {
  direction: ltr;
}

.splide2 img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.splide2:nth-child(even) {
  height: 324px;
  width: 324px;
  overflow: hidden;
}

.splide2:nth-child(odd) {
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.slider3 {
  visibility: visible !important;
}

.splide3 img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.splide3:nth-child(even) {
  height: 324px;
  width: 324px;
  overflow: hidden;
}

.splide3:nth-child(odd) {
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.story-container-page2 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.story-container-page2 .story-info-page2 {
  width: 100% !important;
  align-items: center;
  text-align: center;
  padding: unset !important;
}
.story-container-page2 .story-info-page2 .story-content-page2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: unset !important;
}
.story-container-page2 .story-info-page2 .story-content-page2 h2 {
  max-width: 54.625rem !important;
}
.story-container-page2 .story-info-page2 .story-content-page2 p {
  max-width: 37rem !important;
}
.story-container-page2 .story-section-img-page2 {
  width: 100% !important;
}

.section-passionate-team {
  background-color: rgb(108, 34, 2);
  padding: 6rem 0;
}
.section-passionate-team .subsection-team-story {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 4rem;
  max-width: 90rem;
  margin: 0 auto;
}
.section-passionate-team .subsection-team-story .story-chapter {
  display: flex;
}
.section-passionate-team .subsection-team-story .story-chapter p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 50%;
  text-transform: uppercase;
}
.section-passionate-team .team-story-detail {
  max-width: 39.0625rem;
}
.section-passionate-team .team-story-detail .style-italic {
  font-style: italic;
  font-family: "Taviraj", sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-size: 4.125rem;
  line-height: 4.5375rem;
}
.section-passionate-team .team-story-detail h2 {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.section-passionate-team .team-story-detail p {
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: rgb(255, 255, 255);
  opacity: 70%;
  margin-top: 1rem;
}

.section-time-line {
  background-color: rgb(19, 19, 19);
  padding: 6rem 0;
}
.section-time-line .subsection-memory-lane {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 90rem;
  margin: 0 auto;
}
.section-time-line .subsection-memory-lane .story-chapter {
  display: flex;
}
.section-time-line .subsection-memory-lane .story-chapter p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 50%;
  text-transform: uppercase;
}
.section-time-line .subsection-memory-lane .memory-lane-header h2 {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  max-width: 50.5625rem;
  margin-bottom: 4rem;
}
.section-time-line .subsection-memory-lane .memory-lane-header h2 .style-italic {
  font-style: italic;
  font-family: "Taviraj", sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-size: 4.125rem;
  line-height: 4.5375rem;
}
.section-time-line .timeline {
  position: relative;
  max-width: 90rem;
  margin: 0 auto;
}
.section-time-line .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  border-left: 2px dashed rgb(255, 255, 255);
  top: 0;
  left: 50%;
  margin-left: -3px;
  opacity: 50%;
  z-index: 0;
  animation: moveline 20s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.section-time-line .timeline .container {
  padding: 80px 60px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
  transition: transform 10s ease-out;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.section-time-line .timeline .container:nth-child(1) {
  animation-delay: 0s;
}
.section-time-line .timeline .container:nth-child(2) {
  animation-delay: 4.6s;
}
.section-time-line .timeline .container:nth-child(3) {
  animation-delay: 8.4s;
}
.section-time-line .timeline .container:nth-child(4) {
  animation-delay: 12.4s;
}
.section-time-line .timeline .container:nth-child(5) {
  animation-delay: 16.4s;
}
.section-time-line .timeline .container .first-bi-dot {
  position: absolute;
  top: -3% !important;
}
.section-time-line .timeline .container .first-text-small {
  top: -1px !important;
}
.section-time-line .timeline .container .bi-dot {
  position: absolute;
  width: 40px;
  left: -26px;
  top: 70px;
  font-size: 50px;
  color: #fff;
  z-index: 5;
}
.section-time-line .timeline .container .left-dot {
  left: 99%;
  transform: translateX(-50%);
}
.section-time-line .timeline .container .right-text-small {
  position: absolute;
  left: -100px;
  top: 80px;
  z-index: 5;
  color: rgb(255, 255, 255);
  opacity: 50%;
  font-family: "Taviraj", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.2rem;
}
.section-time-line .timeline .container .left-text-small {
  left: 102%;
  transform: translateX(calc(-50% + 50px));
}
.section-time-line .timeline .container .text-box {
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.section-time-line .timeline .container .text-box .text-box-header {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-bottom: 0.75rem;
}
.section-time-line .timeline .container .text-box .regular-text-box {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 70%;
  margin-bottom: 3rem;
}
.section-time-line .timeline .container .text-box .timeline-img img {
  width: 100%;
}
.section-time-line .timeline .container:first-of-type {
  padding-top: 0;
}
.section-time-line .timeline .left-container {
  left: 0;
}
.section-time-line .timeline .right-container {
  left: 50%;
}

.incrementing-counter {
  padding: 6rem 0;
  background-color: rgb(19, 19, 19);
}
.incrementing-counter .counter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-width: 90rem;
  margin: 0 auto;
}
.incrementing-counter .counter-wrapper .counter-title h2 {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.incrementing-counter .counter-wrapper .social-counter-container {
  display: flex;
  gap: 4rem;
}
.incrementing-counter .counter-wrapper .social-counter-container .counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.incrementing-counter .counter-wrapper .social-counter-container .counter-container .counter {
  font-family: "Taviraj", sans-serif;
  font-size: 3rem;
  line-height: 3.3rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.incrementing-counter .counter-wrapper .social-counter-container .counter-container span {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 70%;
}

@media screen and (max-width: 767px) {
  .subsection-team-story {
    padding: 0 1rem 4rem 1rem;
  }
  .section-time-line {
    padding: 6rem 1rem;
  }
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 10px !important;
  }
  .timeline .container {
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 25px !important;
  }
  .timeline .container .bi-dot,
  .timeline .container .left-dot {
    left: -37px !important;
    top: 15px !important;
    transform: unset !important;
  }
  .timeline .container .right-text-small,
  .timeline .container .left-text-small {
    top: 30px !important;
    left: 9px !important;
    transform: unset !important;
  }
  .timeline .container .text-box-header-mq {
    padding-top: 45px;
  }
  .timeline .right-container,
  .timeline .left-container {
    left: 20px !important;
  }
  .incrementing-counter {
    padding: 6rem 1rem;
  }
  .incrementing-counter .social-counter-container {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .subsection-team-story {
    padding: 0 2rem 4rem 2rem;
  }
  .section-time-line {
    padding: 6rem 2rem;
  }
  .section-time-line .left-dot {
    left: 98% !important;
    transform: translateX(-50%);
  }
  .incrementing-counter {
    padding: 6rem 2rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  .subsection-team-story {
    padding: 0 3rem 4rem 3rem;
  }
  .section-time-line {
    padding: 6rem 3rem;
  }
  .incrementing-counter {
    padding: 6rem 3rem;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.m-w-unset {
  max-width: unset !important;
}

.m-8 {
  margin: 0 0.5rem 0 0.5rem;
}

.m-16 {
  margin: 0 1rem;
}

.h-524 {
  height: 524px;
}

.story-section {
  padding: 6rem 0;
  background-color: rgb(19, 19, 19);
}
.story-section .story-container {
  display: flex;
  align-items: center;
  max-width: 90rem;
  margin: 0 auto;
}
.story-section .story-container .story-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 3.5rem 0 0;
  width: 50%;
}
.story-section .story-container .story-info .story-chapter {
  display: flex;
}
.story-section .story-container .story-info .story-chapter p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 50%;
  text-transform: uppercase;
}
.story-section .story-container .story-info .story-content {
  max-width: 32rem;
}
.story-section .story-container .story-info .story-content h2 {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.story-section .story-container .story-info .story-content h2 .style-italic {
  font-style: italic;
  font-family: "Taviraj", sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-size: 4.125rem;
  line-height: 4.5375rem;
}
.story-section .story-container .story-info .story-content p {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 70%;
}
.story-section .story-container .story-info .story-section-btn button {
  font-family: "Inter", sans-serif;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 0.0625rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.story-section .story-container .story-info .story-section-btn button p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: rgb(20, 20, 20);
}
.story-section .story-container .story-section-img {
  width: 50%;
}
.story-section .story-container .story-section-img img {
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem 0;
  background-color: rgb(115, 36, 2);
}
.main-container .menu-info {
  display: flex;
  flex-direction: column;
  max-width: 90rem;
  margin: 0 auto;
  width: 100%;
}
.main-container .menu-info .menu-chapter {
  display: flex;
}
.main-container .menu-info .menu-chapter p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 50%;
  text-transform: uppercase;
}
.main-container .menu-info .menu-heading h2 {
  font-size: 4rem;
  line-height: 4.4rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-top: 2rem;
  max-width: 34.375rem;
}
.main-container .menu-info .menu-heading h2 .style-italic {
  font-style: italic;
  font-family: "Taviraj", sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-size: 4.125rem;
  line-height: 4.5375rem;
}
.main-container .drink-popup {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 5rem;
}
.main-container .drink-popup .drink-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 90rem;
  margin: 0 auto;
}
.main-container .drink-popup .drink-list .drink-item {
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
  align-items: center;
  gap: 1.5rem;
  padding: 24px 24px 48px 24px;
  border-right: 1px solid rgb(79, 25, 2);
  border-bottom: 1px solid rgb(79, 25, 2);
  cursor: pointer;
}
.main-container .drink-popup .drink-list .drink-item .drink-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.main-container .drink-popup .drink-list .drink-item .drink-img img {
  width: 100%;
  transition: transform 0.3s ease-in;
}
.main-container .drink-popup .drink-list .drink-item .drink-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.main-container .drink-popup .drink-list .drink-item .drink-info .drink-title {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  line-height: 1.375rem;
  font-weight: 300;
  text-transform: uppercase;
  transition: -webkit-text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}
.main-container .drink-popup .drink-list .drink-item .drink-info .drink-price {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: rgb(212, 204, 201);
}
.main-container .drink-popup .drink-list .drink-item:hover .drink-img img {
  transform: scale(1.1);
}
.main-container .drink-popup .drink-list .drink-item:hover .drink-title {
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .main-container .drink-popup .drink-list .drink-item:nth-child(3n) {
    border-right: none;
    padding-right: 0 !important;
  }
  .main-container .drink-popup .drink-list .drink-item:nth-child(3n+1) {
    padding-left: 0 !important;
  }
}
.main-container .popup {
  width: 500px;
  border-radius: 10px;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  color: #333;
  visibility: hidden;
  overflow: hidden;
  transition: transform 0.4s, bottom 0.4s, visibility 0.4s;
  z-index: 200;
}
.main-container .popup .popup-images {
  position: relative;
  width: 100%;
}
.main-container .popup .popup-images .popup-close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.main-container .popup .popup-drink {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.main-container .popup .popup-drink img {
  width: 100%;
}
.main-container .popup .popup-content {
  background-color: #333;
  width: 100%;
  padding: 1rem;
}
.main-container .popup .popup-content .popup-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}
.main-container .popup .popup-content .popup-header .drink-title {
  font-size: 1.5rem;
  line-height: 1.65rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 300;
}
.main-container .popup .popup-content .popup-header .drink-price {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(212, 204, 201);
  font-weight: 400;
}
.main-container .popup .popup-content .popup-body {
  text-align: left;
}
.main-container .popup .popup-content .popup-body p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  opacity: 70%;
  margin-top: 1rem;
}
.main-container .popup .popup-content .popup-body .popup-alergens {
  font-weight: 600;
  color: rgb(212, 204, 201);
  margin-top: 1.5rem;
  margin-bottom: 9.4375rem;
}
.main-container .popup .popup-content .popup-body button {
  background-color: rgb(115, 36, 2);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
  padding: 0.75rem 1.5rem;
  width: 100%;
}
.main-container .open-popup {
  visibility: visible;
  bottom: 50%;
  transform: translate(-50%, 50%);
  transition: transform 0.4s, bottom 0.4s, visibility 0.4s;
}
.main-container .close-popup {
  visibility: hidden;
  bottom: -100%;
  transform: translate(-50%, 0);
  transition: transform 0.8s, bottom 0.8s, visibility 0.8s;
}
.main-container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  transition: visibility 0.4s;
  z-index: 100;
}
.main-container .overlay.open-overlay {
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
}

.section-photo-gallery {
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 19, 19);
  padding: 6rem 0;
}
.section-photo-gallery .section-follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 90rem;
  margin: 0 auto;
}
.section-photo-gallery h2 {
  font-size: 4rem;
  line-height: 4.4rem;
  text-align: center;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.section-photo-gallery h2 .style-italic {
  font-style: italic;
  font-family: "Taviraj", sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-size: 4.125rem;
  line-height: 4.5375rem;
}

.hidden {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    padding: 0 1rem;
  }
  h1 {
    font-size: 3rem !important;
    line-height: 3.3rem !important;
  }
  h1 .style-italic {
    font-size: 3rem !important;
    line-height: 3.3rem !important;
  }
  h2 {
    font-size: 3rem !important;
    line-height: 3.3rem !important;
  }
  h2 .style-italic {
    font-size: 3rem !important;
    line-height: 3.3rem !important;
  }
  h3 {
    font-size: 2rem !important;
    line-height: 2.2rem !important;
  }
  h3 .style-italic {
    font-size: 2rem !important;
    line-height: 2.2rem !important;
  }
  .story-section {
    padding: 6rem 1rem;
  }
  .menu-info {
    padding: 0 1rem;
  }
  .drink-list {
    flex-wrap: unset !important;
    flex-direction: column;
    padding: 0 1rem;
  }
  .drink-list .drink-item {
    border: none !important;
    padding: 24px 0 48px 0 !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    padding: 0 2rem;
  }
  .story-section {
    padding: 6rem 2rem;
  }
  .menu-info {
    padding: 0 2rem;
  }
  .drink-list {
    padding: 0 2rem;
  }
  .drink-list .drink-item {
    flex-basis: 50% !important;
    border: none !important;
  }
  .drink-item:nth-child(2n+1) {
    padding-left: 0 !important;
  }
  .drink-item:nth-child(2n) {
    border-right: none;
    padding-right: 0 !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1599px) {
  h1 {
    padding: 0 3rem;
  }
  .story-section {
    padding: 6rem 3rem;
  }
  .menu-info {
    padding: 0 3rem;
  }
  .drink-list {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 1023px) {
  .story-container {
    display: flex;
    flex-direction: column;
  }
  .story-container .story-info {
    width: 100% !important;
    margin-bottom: 4rem;
  }
  .story-container .story-info .story-content {
    max-width: unset !important;
  }
  .story-container .story-section-img {
    width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */