.section-footer {
    display: flex;
    flex-direction: column;
    background-color: $second-color-black;
    position: relative;
    overflow: hidden;

    .bg-footer {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 687px;
        height: 687px;
        border-radius: 999px;

        img,
        .darken-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 999px;
            object-fit: cover;
        }

        .darken-img {
            background-color: $second-color;
            opacity: 80%;
            z-index: 1;
        }
    }

    .footer-first-content {
        display: flex;
        justify-content: center;
        padding-top: 6rem;

        .footer-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 5;

            .footer-info-details {
                display: flex;
                flex-direction: column;
                align-items: center;

                .footer-visit {
                    color: $dark-grey;
                    font-weight: 400;
                    @include text-xsmall;
                    text-transform: uppercase;
                }

                h2 {
                    @include h2;
                    font-weight: 300;
                    color: $primary-color;
                    text-transform: uppercase;
                    text-align: center;
                    margin: 1.75rem 0 .75rem 0;
                    max-width: 600px;

                    .style-italic {
                        @include italic-h2;
                    }
                }

                .footer-opening-hours {
                    color: $primary-color;
                    font-weight: 300;
                    @include text-medium;
                    opacity: 60%;
                    margin-bottom: 1.9375rem;
                }
            }
        }

        .footer-btn button{
            @include main-btn;
            margin-bottom: 17.6875rem;
        }
    }

    .footer-border-top {
        border-top: 1px solid $primary-color-opacity;
        max-width: 90rem;
        margin: 0 auto;

        .footer-second-content {
            display: flex;
            justify-content: space-between;
            max-width: 90rem;
            margin: 2.25rem auto;

            .terms-and-privacy {
                ul {
                    display: flex;
                    gap: 2rem;

                    li {
                        list-style-type: none;

                        a {
                            color: $primary-color;
                            @include text-xsmall;
                            font-weight: 400;
                            opacity: 40%;
                        }
                    }
                }
            }

            .site-authors {
                display: flex;
                align-items: center;

                .credits-normal-text {
                    @include text-xsmall;
                    color: $primary-color;
                    opacity: 40%;
                    font-weight: 400;
                }

                a {
                    text-decoration: none;
                    @include text-xsmall;
                    font-weight: 400;
                    color: $primary-color;
                    opacity: 70%;
                    margin-left: .25rem;
                }
            }
        }
    }
}


// == BREAKPOINTS ==
@media screen and (max-width: 767px) {
    .bg-footer {
        display: none;
    }

    .footer-first-content {
        padding: 6rem 1rem;
    }

    .footer-second-content {
        padding: 0 1rem;

        .terms-and-privacy {
            ul {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer-second-content {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
    .footer-second-content {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 1023px) {
    .footer-second-content {
        flex-direction: column;
        align-items: center;

        .site-authors {
            margin-top: 1.25rem;
            text-align: center;
        }
    }
}