.section-header {
    display: flex;
    position: relative;
    padding: 6rem 0;
    height: 857px;

    .header-bg {
        .darken-img-header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $second-color;
            opacity: 90%;
            z-index: 1;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // == FOR PAGE2 - HEADER BG
    .header-bg-page2 {
        .darken-img-header-page2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $second-color;
            opacity: 90%;
            z-index: 1;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        max-width: 90rem;
        margin: 0 auto;
        z-index: 2;

        .header-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            max-width: 90rem;
            margin: 0 auto;
            z-index: 10;

            .header-nav {
                ul {
                    display: flex;
                    gap: 2rem;
                    li {
                        list-style-type: none;
                        a {
                            text-decoration: none;
                            color: rgba(255, 255, 255, 1);
                            @include text-xsmall;
                            font-weight: 400;

                            &:focus,
                            &:active,
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .header-logo {
                a {
                    font-family: 'Taviraj', sans-serif;
                    @include text-large;
                    text-decoration: none;
                    color: rgba(255, 255, 255, 1);
                    font-weight: 600;
                }
            }

            .header-social-icons {
                display: flex;
                gap: .75rem;
            }


            // == HAMBURGER MENU 
            .hamburger {
                position: relative;
                display: block;
                width: 35px;
                cursor: pointer;
                appearance: none;
                background: none;
                outline: none;
                border: none;
                z-index: 100;

                .bar,
                &:after,
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 5px;
                    background-color: #FFF;
                    margin: 6px 0px;
                    transition: 0.4s;
                    left: 0;
                }

                &.is-active:before {
                    transform: rotate(-45deg) translate(-8px, 6px);
                }
                &.is-active:after {
                    transform: rotate(45deg) translate(-9px, -8px);
                }
                &.is-active .bar {
                    opacity: 0;
                }
            }

            .mobile-nav {
                position: fixed;
                top: 0;
                right: -50%;
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                z-index: 98;
                background-color: rgba(255, 255, 255, 0.15);
                backdrop-filter: blur(12px);
                padding-top: 120px;
                transition: 0.4s;
                padding: 100px 20px 0 20px;
                white-space: nowrap;

                &.is-active {
                    right: 0;
                }

                a {
                    display: block;
                    width: 100%;
                    max-width: 200px;
                    @include main-btn;
                    text-align: center;
                    margin: 0 auto 16px;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        background-color: #f0f0f2ca;
                    }
                }
            }
        }

        .section-hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .hero-content {
                h1 {
                    @include h1;
                    color: $primary-color;
                    font-weight: 300;
                    text-align: center;
                    max-width: 62.125rem;
                    text-transform: uppercase;

                    .italic-text {
                        font-style: italic;
                        font-family: 'Taviraj', sans-serif;
                    }
                }
            }

            .header-main-btn button {
                @include main-btn;
                margin-top: 4rem;
            }
        }
    }
    
}


// == BREAKPOINTS ==
@media screen and (max-width: 767px) {
    .header-menu {
        padding: 2rem 1rem !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header-menu {
        padding: 2rem 2rem !important;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1599px) {
    .header-menu {
        padding: 2rem 3rem !important;
    }
}


@media screen and (max-width: 1023px) {
    .header-nav {
        display: none;
    }

    .header-social-icons {
        display: none !important;
    }
}

@media screen and (min-width: 1024px) {
    // == HAMBURGER MENU ==
    .hamburger {
        display: none !important;
    }
}