.section-header {
    display: flex;

    .header-bg {
        background-image: url(./img/image\ 2.jpg);
        width: 100%;
        height: 100%;
        
        .header-content {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            max-width: 90rem;
            margin: 0 auto;

            .header-menu {
                display: flex;
                justify-content: space-around;
                padding: 2rem 0;
    
                .header-nav {
                    ul {
                        display: flex;
                        gap: 2rem;
                        li {
                            list-style-type: none;
                            a {
                                text-decoration: none;
                                color: rgba(255, 255, 255, 1);
                                @include text-xsmall;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .header-logo {
                    a {
                        @include text-large;
                        text-decoration: none;
                        color: rgba(255, 255, 255, 1);
                        font-weight: 600;
                    }
                }

                .header-social-icons {
                    display: flex;
                    gap: .75rem;
                }

            }
    
            .section-hero {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15.125rem 0 22.125rem 0;
    
                .hero-content {
                    h1 {
                        @include h1;
                        color: $primary-color;
                        font-weight: 300;
                        text-align: center;
                        max-width: 62.125rem;
                    }
                }

                .header-main-btn button {
                    @include main-btn;
                    margin-top: 4rem;
                }
            }
        }
    }
}