// == SLIDER1 ==
.section-slider {
    background-color: $second-color;
    padding: 4.6875rem 0 5.125rem 0;
    max-width: 140rem;
    margin: 0 auto;

    .splide__track {
        .splide1-content {
            display: flex;
            align-items: center;

            h2 {
                @include h2;
                font-weight: 300;
                color: $primary-color;
                text-align: center;
                margin-left: 1.5rem;
                text-transform: uppercase;
            }
        }
        
    }
}

// == CHANGE OF DIRECTION ==
.slider1 .splide-track1,
.slider1 .splide-list1 {
    direction: rtl;
}

.slider1 .splide1 {
    direction: ltr;
}




// == SLIDER2 ==

.splide2 img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
    
}
.splide2:nth-child(even) {
    height: 324px;
    width: 324px;
    overflow: hidden;
}

.splide2:nth-child(odd) {
    height: 400px;
    width: 400px;
    overflow: hidden;
}


