// == INTRODUCTORY SECTION ABOUT OUR STORY ==
.story-container-page2 {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .story-info-page2 {
        width: 100% !important;
        align-items: center;
        text-align: center;

        .story-content-page2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: unset !important;

            h2 {
                max-width: 54.625rem !important;
            }
            
            p {
                max-width: 37rem !important;
            }
        }
    }

    .story-section-img-page2 {
        width: 100% !important;
    }
}


// == SECTION ABOUT TEAM ==
.section-passionate-team {
    background-color: $coffee-brown-color;
    padding: 6rem 0;

    .subsection-team-story {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 4rem;
        max-width: 90rem;
        margin: 0 auto;

        .story-chapter {
            @include chapter;
        }
    }

    .team-story-detail {
        max-width: 39.0625rem;
        .style-italic {
            @include italic-h2;
        }

        h2 {
            @include h2;
            font-weight: 300;
            text-transform: uppercase;
            color: $primary-color;
        }

        p {
            @include text-medium;
            color: $primary-color;
            opacity: 70%;
            margin-top: 1rem;
        }
    }
}

// == SECTION TIMELINE ==
.section-time-line {
    background-color: $second-color;
    padding: 6rem 0;

    .subsection-memory-lane {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 90rem;
        margin: 0 auto;

        .story-chapter {
            @include chapter;
        }

        .memory-lane-header {
            h2 {
                @include h2;
                font-weight: 300;
                color: $primary-color;
                text-transform: uppercase;
                max-width: 50.5625rem;
                margin-bottom: 4rem;

                .style-italic {
                    @include italic-h2;
                }
            }
        }
    }

    .timeline {
        position: relative;
        max-width: 90rem;
        margin: 0 auto;

        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 100%;
            border-left: 2px dashed $primary-color;
            top: 0;
            left: 50%;
            margin-left: -3px;
            opacity: 50%;
            z-index: 0;
            animation: moveline 30s linear forwards;
        }

        @keyframes moveline {
            0% {
                height: 0;
            }
        
            100% {
                height: 100%;
            }
        }

        .container {
            padding: 80px 60px;
            position: relative;
            width: 50%;
            animation: movedown 1s linear forwards;
            opacity: 0;
            transition: transform 10s ease-out;

            
            @keyframes movedown {
                0% {
                    opacity: 1;
                    transform: translateY(-30px);
                }
            
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
            

            &:nth-child(1) {
                animation-delay: 0s;
            }
            
            &:nth-child(2) {
                animation-delay: 7s;
            }
            
            &:nth-child(3) {
                animation-delay: 13s;
            }
            
            &:nth-child(4) {
                animation-delay: 19s;
            }
            
            &:nth-child(5) {
                animation-delay: 25s;
            }
            
            // == ONLY FOR FIRST DOT AND SMALL TEXT ==
            .first-bi-dot {
                position: absolute;
                top: -3% !important;
            }

            .first-text-small {
                top: -1% !important;
            }


            .bi-dot {
                position: absolute;
                width: 40px;
                left: -3.7%;
                top: 7%;
                font-size: 50px;
                color: #fff;
                z-index: 5;
            }

            .left-dot {
                left: 96.2%;
            }

            .right-text-small {
                position: absolute;
                left: -15%;
                top: 8%;
                z-index: 5;
                color: $primary-color;
                opacity: 50%;
                font-family: 'Taviraj', sans-serif;
                font-style: italic;
                font-weight: 400;
                @include text-xxlarge;
            }
            
            .left-text-small {
                position: absolute;
                left: 104%;
                top: 8%;
            }

            .text-box {
                position: relative;
                border-radius: 6px;
                font-size: 15px;

                .text-box-header {
                    @include text-xxlarge;
                    font-weight: 300;
                    color: $primary-color;
                    margin-bottom: .75rem;
                }

                .regular-text-box {
                    @include text-medium;
                    font-weight: 400;
                    color: $primary-color;
                    opacity: 70%;
                    margin-bottom: 3rem;
                }

                .timeline-img {
                    img {
                        width: 100%;
                    }
                }
            }

            &:first-of-type {
                padding-top: 0;
            }
        }

        .left-container {
            left: 0;
        }
        
        .right-container {
            left: 50%;
        }
    }
}





@media screen and (max-width: 600px){
    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 100px;
        padding-right: 25px;
    }

    .left {
        left: 50px;
    }
    .text-box {
        font-size: 13px;
    }

    .right-container {
        left: 0;
    }

    .bi-dot,
    .right-dot {
        left: 4px;
    }
}




// == INCREMENTING COUNTER ==
.incrementing-counter {
    padding: 6rem 0;
    background-color: $second-color;

    .counter-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        max-width: 90rem;
        margin: 0 auto;

        .counter-title {
            h2 {
                @include h2;
                font-weight: 300;
                color: $primary-color;
                text-transform: uppercase;
            }
        }
    
        .social-counter-container {
            display: flex;
            padding: 0 2rem;
            gap: 2.5rem;
    
    
            .counter-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding-right: 3.5rem;
                gap: 1rem;
    
                .counter {
                    font-family: 'Taviraj', sans-serif;
                    @include h1;
                    font-weight: 300;
                    color: $primary-color;
                }
    
                span {
                    @include text-medium;
                    font-weight: 400;
                    color: $primary-color;
                    opacity: 70%;
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .social-counter-container {
        flex-direction: column;
    }
}